flask
gunicorn
openai
requests
torch==2.1.0+cpu
torchvision==0.16.0+cpu
torchaudio==2.1.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
transformers
safetensors
pydub
soundfile
ffmpeg-python
numpy
pillow
packaging
jinja2
werkzeug
python-dotenv
peft
gtts
